<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.muilat.journally">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_journally"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_journally_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".AddEntryActivity" />
        <activity android:name=".EntryDetailActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- exported = false limits access to this ContentProvider to only this app -->
        <provider
            android:name=".data.JournalContentProvider"
            android:authorities="com.android.muilat.journally"
            android:exported="false" />


    </application>

</manifest>